

.card.large:hover {

    cursor: pointer;
}



.card.large {
    display: inherit;
    margin-left: 200px;
    height: 400px;
    width: 50%;
    border: 1px solid white;
    border-radius: 4px;
    background-color:white;
    color: black;
    padding: 20px;
    
    
}

img {
    height: 200px;
    width: 50%;
    margin: 20px;
}