nav {
    width: 100vw;
    background-color:white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    color: black;
}


a {
    text-decoration: none;
}

a:hover {
    color: black;
}

.active {
    color: black;
    font-weight: bolder;
}