.album-reader {
    display: grid;
    text-align: left;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.2rem;
}
/* .album {
    width: 90vw;
    background-color: crimson;
    color: white;
    padding: 20px;
    opacity: 0.8;
    font-family: monospace;
    border: 2px solid black;
    border-radius: 5px;
} */

.album {
    display: flex;
    justify-content: center;
    margin: 10px 10px 1px 400px;
    height: 215px;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px;
}